@import url(global.css);

#primary{

    padding-block: 20px;
    
    div{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    div:nth-child(2){
        margin-inline: auto;
    }

    div:nth-child(3){
        justify-self: end;
    }

    .ph{
        font-size: 20px;
        color: var(--text-color-secondary);
        cursor: pointer;
    }

}

#segundary{
    border: solid 1px var(--stroke-color);
    padding-block: 14px;
    border-inline: none;
    justify-content: space-between;
}

#features{
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

.card{
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;

        background: linear-gradient(180deg, rgba(2, 6, 23, 0) 0%, #020617 100%);   
    }

    figcaption{
        position: absolute;
        bottom: 0;

        padding: 24px;

        &:has(h2){
            margin-top: 12px;
        }


        h2{
            margin-top: 8px; ;
        }

        span{
            font: var(--text-span);
        }
        
    }
}

